<footer class="ibot-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-8 ibot-text-center-xs">
                <span class="icon-diputacionforaldegipuzkoa"></span>
                <small>Gipuzkoako Foru Aldundia - Diputación Foral de Gipuzkoa</small>
            </div>
            <div class="col-xs-12 col-sm-4 text-right ibot-text-center-xs ibot-margin-top-xs-half">
                <small><a href="https://egoitza.gipuzkoa.eus/es/informacion-legal" target="_blank">Aviso legal</a></small>&nbsp;&nbsp;&nbsp;
                <small><a href="https://egoitza.gipuzkoa.eus/es/privacidad" target="_blank">Política de privacidad</a></small>&nbsp;&nbsp;&nbsp;
                <small><a href="https://egoitza.gipuzkoa.eus/es/accesibilidad" target="_blank">Accesibilidad</a></small>
            </div>
        </div>
    </div>
</footer>